.now {
    height: 100px;
}

.nowIcon {
    margin-right: 5px;
}

.nowDetail {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.nowTitle {
    font-size: 45px;
}

.nowText {
    text-transform: lowercase;
    display: inline-block;
}

.nowText:first-letter {
    text-transform: uppercase !important;
}
